*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Raleway" ,sans-serif ;  
}
body
{
    height: 100vh;
    background: linear-gradient(135deg, #b003ef97, #48ff009d);
}
html
{
    font-size: 16px;
}
.wrapper
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.container
{
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
}
.button-option
{
    background: linear-gradient(135deg, #04f9f9ba, #64ff0481);
    height: 22vmin;
    width: 22vmin;
    border-radius: 8px;
    border: none;
    font-size: 12vmin;
    color:aliceblue;
    box-shadow: 0 0 15px rgba(4, 0, 10, 0.82);
    cursor: pointer;
}
.button-option:hover 
{
    background: linear-gradient(135deg, #f90476ba, #ff02dd)
}
#restart
{
   font-size: 1.3em;
   margin-top: 1.5em;
   padding: 1em;
   border-radius: 8px;
   background: linear-gradient(135deg, #a0ef03be, #6e02f39d);;
   color: white;
   border: none;
   position: relative;
   margin: 1.5em auto 0 auto;
   display: block;
   cursor: pointer;
}
#restart:hover
{
    background: linear-gradient(135deg, #ef0303, #6e02f39d);
    color: rgb(254, 252, 252);
    box-shadow: 0 0 15px rgba(6, 5, 5, 0.571)

}


.popup
{
    background: linear-gradient(135deg, #05b3f2, #e6f702);
    height: 100%;
    width: 100%;
    position:absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 12vmin;
}
.popup.hide
{
    display: none;
}
#new-game
{
    font-size: 0.6em;
    padding: 0.5em 1em;
    background: linear-gradient(135deg, #03ef0b, #009dffea);
    border-radius: 0.2em;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
#new-game:hover
{
    background:linear-gradient(135deg, #f20505, #af02ff);
}

#message
{
    color: aliceblue;
    text-align: center;
    font-size: 1em;
}